body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    height: 70px;
    width: 100%;
    position: fixed;
    text-align: center;
}

header h1 {
    color: white;
}

header > * {
    display: inline-block;
}

header nav {
    position: absolute;
    right: 0;
    top: 30px;
    margin: auto 10px;
}

header nav ul li {
    display: inline;
}

header img {
    border-radius: 50%;
    float: left;
}

header nav a {
    color: white;
}

main {
    padding-top: 70px;
}

main > section {
    width: 88%;
    padding: 30px 100px;
}

main .description {
    background-color: #e9e9e9;
    overflow: auto;
}

main section img {
    width: 500px;
    height: 500px;
}

main .description img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

main .description .description-p2 {
    clear: both;
}

main .relationship {
    background-color: white;
    overflow: auto;
}

main .relationship img {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #b4b4b4;
    height: 70px;
    line-height: 70px;
}
